services:
  # Backend Laravel
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: api
    volumes:
      - ./api:/var/www
    ports:
      - "8000:8000"
    environment:
      - DB_HOST=db
      - DB_DATABASE=laravel_db
      - DB_USERNAME=root
      - DB_PASSWORD=root
    depends_on:
      - db
    networks:
      - app-network

  # Frontend React
  web:
    build:
      context: ./web
    container_name: web
    volumes:
      - ./web:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    networks:
      - app-network

  # MYSQL
  db:
    image: mysql:8.0
    container_name: db
    restart: always
    environment:
      MYSQL_DATABASE: url_shortener_db
      MYSQL_ROOT_PASSWORD: root
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  db_data: